.navbar {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    float: right;
}

.navbar-default {
    background: #fff;
    border-color: transparent;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    padding: 0;
}

.top-nav-collapse {
    background: #fff;
}

.in {
    background: #fff;
}

.navbar-collapse.in .navbar-nav {
    text-align: center;
    margin: 0;
    width: 100%;
}

.navbar-default .navbar-toggle {
    border-color: #89c373;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #000;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #89c373;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #89c373;
}

.navbar-default .navbar-nav>li>a:focus {
    background: #fff;
}

.current-menu-item {
    color: #fff;
    background-color: #89c373;
}

.navbar-brand {
    text-transform: uppercase;
}