#section-about {
  background-color: $section-gray;
  padding-top: 90px;
}

.about-us {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px; 
  padding-top: 3%; 
  padding-bottom: 20px; 
}

.services .fa {
    color: #89c373;
    font-size: 40px;
    margin-top: 20px;
}

.services .col-md-4 {
  text-align: center;
}

@media(min-width:767px) {

    .top-nav-collapse {
        padding: 0;
    }
}