.blog-section {
  padding: 80px 0;
  background: #eee;
}

.single .entry-header {
	padding: 10% 0;
}

.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea {
  border: 1px solid #89c373;
  height: 40px;
}

.wpcf7-form-control-wrap textarea {
  height: 120px;
}

.wpcf7-submit {
  background: #89c373;
  border-color: #89c373;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}