.fill{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
}

.intro-section {
    padding-top: 7vh;
}

.flexslider {
    border: 0;
    height: 100%;
}

.flex-viewport {
    height: 90%;
}

.flexslider .slides {
    height: 100%;
}

.flexslider .slides > li { 
  height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.5;
}

.flex-caption {
    text-align: center;
    width: 80%;
    margin-top: 30vh;
    height: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    h2 {
        a {
            font-family: 'Raleway', sans-serif;
            color: #fff;
            font-size: 45px;
            font-weight: 600;
            text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        }
    }
    .subtitle-caption {
        padding: 25px 0;

        p {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        }
    }
    .project-progress li {
        border-right: 2px solid #fff;
        list-style: none;
        p {
            color: #fff;
            font-size: 27px;
        }
    }
    .project-progress li:last-child {
        border-right: none;
    }
    img.attachment-home-slider-funder {
        width: 65px;
        height: 65px;
        z-index: 999;
        margin: 88px 24px;
        position: absolute;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
    ul.infos-project {
        padding-top: 10%;
    }
}

.flex-direction-nav a {
    color: #89c373 !important;
    width: 50px;
    height: 50px;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: #89c373;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-control-paging li a {
    background: #89c373;
}
.flex-control-paging li a.flex-active {
    background: #cecece;
}

.flex-caption {
    position: relative;
    -webkit-animation: slideOut;
    -moz-animation: slideOut;
    -o-animation: slideOut;
    animation: slideOut;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 25px
    }
}

.flex-control-nav {
    bottom: 0;
}
