.portfolio-section {
    padding: 65px 0;
    background: #fff;
}

.portfolio-wrapper {
    position: relative;
}

.nav-tabs.nav-justified>li>a {
    color: #89c373;
}

.btn-success {
	background: #89c373;
  	border-color: #89c373;
 	color: #fff;
}